<h2>User information</h2>

<table class="table table-bordered rounded">
    <tbody>
    <tr>
        <td>Username</td>
        <td>{{ $ctrl.userInfo.username }}</td>
    </tr>
    <tr>
        <td>Firstname</td>
        <td>{{ $ctrl.userInfo.firstname }}</td>
    </tr>
    <tr>
        <td>Lastname</td>
        <td>{{ $ctrl.userInfo.lastname }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ $ctrl.userInfo.email }}</td>
    </tr>
    <tr>
        <td>Last password reset:</td>
        <td>{{ $ctrl.userInfo.lastPasswordResetDate | date }}</td>
    </tr>
    <tr>
        <td>Role</td>
        <td>
            <span ng-repeat="role in $ctrl.userInfo.authorities"> {{ role.name }}</span>
        </td>
    </tr>
    </tbody>
</table>