<div class="border rounded wrapper-book"
     ng-class='{"border-success":$ctrl.isRead}'
     ng-click="$ctrl.goToBookPanel()"
     background-image="{{ $ctrl.data.coverImageData }}">
    <p class="icon" ng-if="!$ctrl.hasCoverImage">{{ $ctrl.data.title }}</p>
</div>
