<h2>New book form</h2>

<form name="addBookForm" novalidate>
    <div class="form-row card align-items-lg-center align-items-md-center">
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mb-3">
            <label for="title">Title</label>
            <div class="input-group">
                <input type="text" id="title" name="title" placeholder="Book title"
                       class="form-control"
                       ng-model="$ctrl.book.title"
                       required/>
            </div>
        </div>
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mb-3">
            <label for="description">Description</label>
            <div class="input-group">
                <textarea type="text" id="description" name="description" placeholder="Book description"
                          class="form-control"
                          rows="3"
                          ng-model="$ctrl.book.description"
                          required>
                </textarea>
            </div>
        </div>
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mb-3">
            <label for="categories">Categories</label>
            <div class="input-group">
                <select selectpicker
                        id="categories"
                        name="categories"
                        multiple
                        data-selected-text-format="count"
                        data-live-search="true"
                        ng-model="$ctrl.book.categories"
                        ng-options="category.id as category.name for category in $ctrl.categories">
                </select>
            </div>
        </div>
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mb-3">
            <label for="coverimg">Cover image</label>
            <input type="file" id="coverimg" name="coverimg"
                   ngf-select="$ctrl.uploadCoverImage($file)"/>
        </div>
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mb-3">
            <label for="content">Content</label>
            <input type="file" id="content" name="content"
                   ngf-select="$ctrl.uploadBookContent($file)"/>
        </div>
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mb-3 d-flex align-items-end flex-column">
            <div class="row">
                <button type="reset" class="btn btn-default btn-info margin-right"
                ng-click="$ctrl.reset()">
                    Reset
                </button>
                <button type="submit" class="btn btn-info" name="submit"
                        ng-disabled="!addBookForm.$valid"
                        ng-click="$ctrl.submit()">
                    Add
                </button>
            </div>
        </div>
    </div>
</form>