<h1 class="mb-4">User panel</h1>

<div class="container h-100">
    <div class="row flex-fill">
        <div class="col-3">
            <ul class="navbar-nav" role="tablist">
                <li>
                    <a href="#" class="nav-link" ui-sref="app.user.details">Details</a>
                </li>
                <li>
                    <a href="#" class="nav-link" ui-sref="app.user.readBooks">Read books</a>
                </li>
                <li>
                    <a href="#" class="nav-link" ui-sref="app.user.todoBooks">Books to read</a>
                </li>
                <li>
                    <a href="#" class="nav-link" ui-sref="app.user.likedBooks">Liked books</a>
                </li>
                <li>
                    <a href="#" class="nav-link" ui-sref="app.user.userList" ng-if="$ctrl.isAdmin">User list</a>
                </li>
                <li>
                    <a href="#" class="nav-link" ui-sref="app.user.categoryList" ng-if="$ctrl.isAdmin">Category list</a>
                </li>
                <li>
                    <a href="#" class="nav-link" ui-sref="app.user.addBook" ng-if="$ctrl.isAdmin">Add book</a>
                </li>
                <li>
                    <a href="#" class="nav-link" ui-sref="app.user.addCategory" ng-if="$ctrl.isAdmin">Add category</a>
                </li>
            </ul>
        </div>
        <div class="col-9">
            <div ui-view></div>
        </div>
    </div>
</div>