<h1>Registration page</h1>

<form name="loginForm" class="login-form" novalidate ng-cloak>
    <div class="form-row card align-items-lg-center align-items-md-center">

        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mb-3">
            <label for="username">Username</label>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="$ctrl.user.username" id="username"
                       placeholder="Username" name="username"
                       minlength="3"
                       maxlength="30"
                       ng-model-options="{debounce:300}"
                       required
                       username-exists>

                <div ng-messages="loginForm.username.$error" class="invalid-feedback"
                     ng-if="loginForm.username.$touched" role="alert">
                    <div ng-message="required">Please choose a username</div>
                    <div ng-message="minlength">Username must be at least 3 characters long</div>
                    <div ng-message="maxlength">Username must be maximum 30 characters long</div>
                    <div ng-message="usernameExists">Username is already used</div>
                </div>
            </div>
        </div>

        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mb-3">
            <label for="password">Password</label>
            <div class="input-group">
                <input type="password" class="form-control" ng-model="$ctrl.user.password" id="password"
                       name="password"
                       minlength="5"
                       maxlength="50"
                       required/>

                <div ng-messages="loginForm.password.$error" class="invalid-feedback"
                     ng-if="loginForm.password.$touched" role="alert">
                    <div ng-message="required">Please choose a password</div>
                    <div ng-message="minlength">Password must be at least 5 characters long</div>
                    <div ng-message="maxlength">Password must be maximum 50 characters long</div>
                </div>
            </div>
        </div>

        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mb-3">
            <label for="firstname">First name</label>
            <input type="text" class="form-control" ng-model="$ctrl.user.firstname" id="firstname"
                   placeholder="First name"
                   name="firstname"
                   minlength="2"
                   maxlength="50"
                   required>
            <div ng-messages="loginForm.firstname.$error" class="invalid-feedback"
                 ng-if="loginForm.firstname.$touched" role="alert">
                <div ng-message="required">Please provide first name</div>
                <div ng-message="minlength">First name must be at least 2 characters long</div>
                <div ng-message="maxlength">First name must be maximum 50 characters long</div>
            </div>
        </div>

        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mb-3">
            <label for="lastname">Last name</label>
            <input type="text" class="form-control" ng-model="$ctrl.user.lastname" id="lastname"
                   placeholder="Last name"
                   name="lastname"
                   minlength="2"
                   maxlength="50"
                   required>

            <div ng-messages="loginForm.lastname.$error" class="invalid-feedback"
                 ng-if="loginForm.lastname.$touched" role="alert">
                <div ng-message="required">Please provide last name</div>
                <div ng-message="minlength">Last name must be at least 2 characters long</div>
                <div ng-message="maxlength">Last name must be maximum 50 characters long</div>
            </div>
        </div>
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mb-3">
            <label for="email">Email</label>
            <div class="input-group">
                <input type="email" class="form-control" ng-model="$ctrl.user.email" id="email"
                       placeholder="Email"
                       name="email"
                       required
                       ng-model-options="{debounce:300}"
                       email-exists>
                <div ng-messages="loginForm.email.$error" class="invalid-feedback"
                     ng-if="loginForm.email.$touched" role="alert">
                    <div ng-message="required">Please provide email</div>
                    <div ng-message="email">This field must be a valid email address</div>
                    <div ng-message="emailExists">Email is already used</div>
                </div>
            </div>
        </div>
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mb-3 d-flex align-items-end flex-column">
            <div class="row">
                <button type="reset" class="btn btn-info mt-auto p-2 margin-right"
                        ng-click="$ctrl.reset()">
                    Reset
                </button>
                <button class="btn btn-info mt-auto p-2" type="submit"
                        name="submit"
                        ng-disabled="!loginForm.$valid"
                        ng-click="$ctrl.submit()">Register
                </button>
            </div>
        </div>
    </div>
</form>