.login-form input.ng-valid.ng-touched{
  border-color: #28a745;
}

.login-form input.ng-invalid.ng-touched{
  border-color:#aa0000;
}

.invalid-feedback{
  display:block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
  transition: 1s linear all;
}

.margin-right{
  margin-right:20px;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}