<h1>Categories</h1>

<div class="row" ng-repeat="category in $ctrl.categories track by category.id">
    <div class="col-12">{{ category.name }}</div>

    <div class="row">
        <book ng-repeat="book in category.bookList"
              class="col m-2 bg-light"
              data="book">
        </book>
    </div>
</div>