.my-fade {
  transition: .5s;
  overflow:hidden;
}

.my-fade.ng-enter {
  opacity: 0;
  height:0;
  transform:scaleY(0);
}

.my-fade.ng-enter.ng-enter-active {
  opacity: 1;
  height:44px;
  transform:scaleY(1);
}

.my-fade.ng-leave {
  opacity: 1;
  height:44px;
  transform:scaleY(1);
}

.my-fade.ng-leave.ng-leave-active {
  opacity: 0;
  height:0;
  transform:scaleY(0);
}