<h2>New category</h2>

<form name="addCategoryForm" novalidate>
    <div class="form-row card align-items-lg-center align-items-md-center">
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mb-3">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Category name"
                   class="form-control"
                   ng-model="$ctrl.category.name"
                   ng-model-options="{ debounce: 300 }"
                   category-exists
                   required/>

            <div ng-messages="addCategoryForm.name.$error" class="invalid-feedback"
                 ng-if="addCategoryForm.name.$touched" role="alert">
                <div ng-message="required">Please enter name</div>
                <div ng-message="categoryExists">Category already exists</div>
            </div>
        </div>

        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mb-3 d-flex align-items-end flex-column">
            <div class="row">
                <button type="reset" class="btn btn-default btn-info margin-right">
                    Reset
                </button>
                <button type="submit" class="btn btn-info" name="submit"
                        ng-disabled="(!addCategoryForm.$valid || addCategoryForm.$pending)"
                        ng-click="$ctrl.submit()">
                    Add
                </button>
            </div>
        </div>
    </div>
</form>