<h1>Login page</h1>

<form name="registrationForm" novalidate>
    <div class="form-row card align-items-lg-center align-items-md-center">

        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mb-3">
            <label for="username">Username</label>
            <div class="input-group">
                <input type="text" id="username" name="username" placeholder="Username"
                       class="form-control"
                       ng-model="$ctrl.user.username"
                       required/>

                <div ng-messages="registrationForm.username.$error" class="invalid-feedback"
                     ng-if="registrationForm.username.$touched" role="alert">
                    <div ng-message="required">Please enter a username</div>
                </div>
            </div>
        </div>
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mb-3">
            <label for="password">Password</label>
            <div class="input-group">
                <input type="password" id="password" name="password" placeholder="Password"
                       class="form-control"
                       ng-model="$ctrl.user.password"
                       required/>

                <div ng-messages="registrationForm.password.$error" class="invalid-feedback"
                     ng-if="registrationForm.password.$touched" role="alert">
                    <div ng-message="required">Please enter a password</div>
                </div>
            </div>
        </div>
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mb-3 d-flex align-items-end flex-column">
            <div class="row">
                <button type="reset" class="btn btn-default btn-info margin-right">
                    Reset
                </button>
                <button type="submit" class="btn btn-info" name="submit"
                        ng-disabled="!registrationForm.$valid"
                        ng-click="$ctrl.submit()">
                    Login
                </button>
            </div>
        </div>
    </div>
</form>