<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" data-ui-sref-active="active">
                <a class="nav-link"
                   data-ui-state="$ctrl.states.books.current">
                    Books
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" ui-sref="public.categories">Categories</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto"
           data-ui-state="$ctrl.states.brand.current">
            Library
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2"
         ng-if="!$ctrl.isLoggedIn">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" ui-sref="public.login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" ui-sref="public.register">Register</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2"
         ng-if="$ctrl.isLoggedIn">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link logged-user" href="#" ui-sref="app.user.details">{{ $ctrl.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" ng-click="$ctrl.logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>
