.fixed {
  position: fixed;
}

.bottom-right {
  bottom: 50px;
  right: 50px;
}

.logger {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 0;
  animation: max-height 2s linear;
}

.logger.has-log {
  max-height: 300px;
}