.container{
  .row{

    .cover{
      width:300px;
      height:400px;
      display:flex;
      justify-content:center;
      align-items:center;
    }

    .title{
      font-style:italic;
      margin-bottom:5%;
      font-size:200%;
    }

    .description{
      text-indent:1cm;
      font-size:90%;
    }
  }
}

.margin-top{
  margin-top:1%;
}

.h-10{
  height:10% !important;;
}

.h-90{
  height:90% !important;
}