<div class="container margin-top">
    <div class="row">
        <div class="span4 cover border rounded bg-light col-sm-2 col-md-4" ng-if="!$ctrl.imageExists">
            [Book-cover]
        </div>

        <img ng-src="{{ $ctrl.book.coverImageData }}" ng-if="$ctrl.imageExists"/>

        <div class="col-sm-10 col-md-8">
            <div class="col h-90">
                <p class="title mb-lg-3">{{ $ctrl.book.title }}</p>
                <p class="description">{{ $ctrl.book.description }}</p>
            </div>
            <div class="row d-flex p-1">
                <div class="mr-auto">Categories:</div>
                <div class="row ml-auto">
                    <div class="mr-1 text-muted"
                         ng-repeat="category in $ctrl.book.categories">{{ category.name }}
                    </div>
                </div>
            </div>
            <div class="row flex-row flex-wrap justify-content-end" ng-if="$ctrl.isLoggedIn">
                <button class="btn btn-primary btn-sm mr-3 mb-1 mt-1"
                        ng-disabled="$ctrl.downloading"
                        ng-click="$ctrl.download()">Download
                </button>

                <button class="btn btn-primary btn-sm mr-3 mb-1 mt-1"
                        ng-click="$ctrl.book.read ? $ctrl.setBookAsUnread() : $ctrl.setBookAsRead()">
                    {{ $ctrl.book.read ? "Unmark from read" : "Mark as already read" }}
                </button>

                <button class="btn btn-primary btn-sm mr-3 mb-1 mt-1"
                        ng-click="$ctrl.book.todo ? $ctrl.setBookAsNotToRead() : $ctrl.setBookAsToRead()">
                    {{ $ctrl.book.todo ? "Unmark from toread" : "Mark as toread" }}
                </button>

                <button class="btn btn-primary btn-sm mr-3 mb-1 mt-1"
                        ng-click="$ctrl.book.like ? $ctrl.unlikeBook() : $ctrl.likeBook()">
                    {{ $ctrl.book.like ? "Unlike" : "Like" }}
                </button>
            </div>
        </div>
    </div>
</div>